.born-year {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
  
  z-index: 1;
  position: relative;

  &-input {
    cursor: pointer;
    &:hover {
      @extend %hover;
      background-color: white;
    }

    &:focus {
      @extend %hover;
      background-color: white;
    }
  }

  &-title {
    margin-bottom: 36px;
    text-align: center;
    
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
  &-div {
    display: flex;
    margin-left: 70px;
    @media screen and (min-width: 768px) {
      margin-left: 50px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 257px;
    }
  }

  &-text {
    margin-top: 30px;
    margin-left: 0;
    text-align: center;
    @media screen and (min-width: 768px) {
      margin-left: 170px;
      margin-top: 10px;
      white-space: nowrap;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 300px;
      margin-top: 10px;
      white-space: nowrap;
    }
  }

  &-input {
    display: block;
    margin-right: auto;
  
    color: #7e7e7e;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
    width: 180px;
    padding: 10px 25px 10px 10px;
    border-radius: 20px;
    background: #d7d7d7;
    border: none;
    box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.25);
    @media screen and (min-width: 768px) {
      //  margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
      &-input {
        box-sizing: border-box;
        width: 215px;
        height: 35px;
  
        font-size: 15px;
        font-weight: 400;
        line-height: normal;
        background-color: #d7d7d7;
        border: none;
        color: #7e7e7e;
        padding-left: 10px;
        border-radius: 20px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
          0px 1px 1px 0px rgba(0, 0, 0, 0.14),
          0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      }
    }
  }

  &-svg {
    stroke: white;
    width: 15px;
    height: 15px;
  }

  &-btn {
    position: absolute;
    border: none;
    margin-left: 160px;
    height: 35px;
    background-color: #000;
    width: 35px;
    box-shadow: #000;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    top: 115px;
      @media screen and (min-width: 350px) {
      top: 93px;
    }
    @media screen and (min-width: 768px) {
      top: 88px;
          margin-left: 160px;
    }
    @media screen and (min-width: 1200px) {
      top: 91px;
      margin-left: 165px;
    }
  }
}
.born-div {
  display: block;
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.born-year-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    width: 250px;
    height: 1px;
    background-color: black;

    @media screen and (min-width: 768px) {
      width: 536px;
    left: calc(50% - 268px);
    }
}
