.calculator {
  padding: 36px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-top: 36px;
  z-index: 1;
  position: relative;
  &-title {
   text-align: center;
    margin-bottom: 36px;
  }

  &-field {
    color: #000000;
    font-size: 12px;

    font-weight: 400;
    line-height: normal;
    width: 105px;
    height: 35px;
    padding: 0px 20px;
    display: flex;
    cursor: pointer;
    align-items: center;
    border-radius: 20px;
    gap: 0px;
    background-color: #d7d7d7;
    border: transparent;
    filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.25));
    &:hover {
      @extend %hover;
      background-color: white;
    }

    &:focus {
      @extend %hover;
      background-color: white;
    }
  }

  &-list {
    display: flex;
    width: 60px;
    height: 60px;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  &-item {
    width: 25px;
    height: 25px;
    outline: none;
    cursor: pointer;
  }
}

.section-calculator {
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   @media screen and (min-width: 768px) {
      flex-direction: row;
    }
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.update-btn-calculator {
  color: white;
  border-radius: 20px;
  background: #000;
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    color: black;
    background-color: #e7e7e7;
    outline: solid black 1px;
    transition: box-shadow, color, outline, background-color, $st-animation;
    outline: none;
    background-color: white;
  }

  &:focus {
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.25);
    color: black;
    background-color: #e7e7e7;
    outline: solid black 1px;
    transition: box-shadow, color, outline, background-color, $st-animation;
    outline: none;
    background-color: white;
  }
}
.calculator-line {
    position: absolute;
  margin-top: 36px;
    left: calc(50% - 268px);
    width: 536px;
    height: 1px;
    background-color: black;
}