.google-dino {
  position: relative;
  padding: 36px 0;
  z-index: 1;

  &-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &-game {
    position: relative;
    display: flex;
    height: 250px;
    width: 280px;
    padding-top: 200px;
    padding-left: 50px;
    background-color: grey;
    margin: 36px auto 0;

    @media screen and (min-width: 768px) {
      width: 620px;
    }
  }

  &-text {
    position: absolute;
    top: 110px;
    left: 250px;
    color: white;
    font-size: 32px;
    line-height: normal; 
    opacity: 0;
    transition: opacity $st-animation;
  }

  &-player {
    width: 50px;
    height: 50px;
    background-color: aqua;
    transition: transform 500ms cubic-bezier(.9,.61,.72,.51);

    &-up {
      transform: translate(0, -150px);
      transition: transform 500ms cubic-bezier(.72,.78,.51,.63);
    }
  }

  &-obs {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    top: 200px;
    right: -50px;
    transition: right 250ms cubic-bezier(.9,.61,.72,.51);
  }

  &-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    width: 250px;
    height: 1px;
    background-color: black;

    @media screen and (min-width: 768px) {
      width: 536px;
    left: calc(50% - 268px);
    }
  }
}
