.google-dinosaur {
  position: relative;
  padding: 36px 0;
  z-index: 1;

  &-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &-game {
    height: 241px;
    width: 720px;
    background-color: grey;
    margin: 36px auto 0;
  }

  &-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 268px);
    width: 536px;
    height: 1px;
    background-color: black;
  }
}
