.google-dinosaur {
  position: relative;
  padding: 36px 0;
  z-index: 1;

  &-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &-game {
    height: 241px;
    width: 280px;
    background-color: grey;
    margin: 36px auto 0;

    @media screen and (min-width: 768px) {
      width: 620px;
    }
  }

  &-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    width: 250px;
    height: 1px;
    background-color: black;

    @media screen and (min-width: 768px) {
      width: 536px;
    left: calc(50% - 268px);
    }
  }
}
