.football {
  padding: 36px 0;
  z-index: 1;
  position: relative;

  &-title {
    // color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;

      @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
  }

  &-box {
    display: block;
    margin: auto;
    
    height: 220px;

    border-radius: 37px;
    border: 2px solid #000;
    background: #5ABB58;

    position: relative;
    overflow: hidden;
    cursor: url(../../img/cursor.svg), pointer;

      @media screen and (min-width: 768px) {
        width: 480px;
        max-width: 100%;
    }

    @media screen and (min-width: 1200px) {
      width: 720px;
      max-width: 100%;
    }
  }

  &-ball {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s all ease; 
}

  &-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    width: 250px;
    height: 1px;
    background-color: black;

    @media screen and (min-width: 768px) {
      width: 536px;
    left: calc(50% - 268px);
    }
  }


}

.football-goal {
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;

  
}

.football-ball {
  position: absolute;
  width: 50px;
  height: 50px;
  // top: 50px;
  // left: 50px;
  // background-color: red;
  border-radius: 50%;
  transition: 0.5s all ease;
}

.football-score {
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
  
      @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}



.football-end {
position: absolute;
top: 40px;
left: 17%;
// transform: translate(-50%, -50%);
width: 200px;
height: 300px;
font-size: 14px;
background-color: floralwhite;
text-align: center;
display: none;

@media screen and (min-width: 330px) {
  left: 30%;
}

@media screen and (min-width: 768px) {
  width: 200px;
  height: 300px;
  left: 30%;
}

@media screen and (min-width: 1200px) {
  width: 300px;
  height: 400px;
}
}

.football-end-text {
  margin-top: 50px;
  color: #5ABB58;
}

.football-end-btn {
  margin-top: 30px;
  padding: 10px;
  background-color: aquamarine;
}