.footer {
  padding: 61px 0;

  &-container {
    @include flexbox;
    gap: 185px;
  }

  &-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;
  }

  &-link {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;
  }

  &-form {
    margin-top: 36px;
    @include flexbox;
    align-self: start;
    max-width: 344px;
    flex-wrap: wrap;
  }

  &-input {
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 400;
    width: 204px;
    height: 35px;
    border-radius: 20px;
    padding: 10px 80px 10px 10px;
    background: #d7d7d7;
    border: none;
    transition: box-shadow, color, background-color, outline, $st-animation;

    &:hover {
      @extend %hover;
      border: none;
      outline: solid black 1px;
    }
  }

  &-button {
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 107px;
    height: 35px;
    border-radius: 20px;
    background: #000;
    margin-left: 33px;
    cursor: pointer;
    transition: box-shadow, color, background-color, border, $st-animation;

    &:hover {
      @extend %hover;
    }
  }

  &-subtext {
    color: #000;
    font-size: 6px;
    font-weight: 400;
    line-height: normal;
    margin-top: 18px;
    margin-right: 89px;
  }
}
