.guess-number {
    padding: 36px 0;
    position: relative;
    z-index: 1;

    &-title {
        
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 14px;
          }
        
          @media screen and (min-width: 1200px) {
            font-size: 16px;
          }
        
    }

    &-form {
        display: block;
        margin-top: 36px;
        margin-right: auto;
        margin-left: auto;

        @media screen and (min-width: 768px) {
            display: flex;
          }
        
          @media screen and (min-width: 1200px) {
            font-size: 16px;
          }
    }

    &-input {
        display: block;
        margin-right: auto;
        margin-left: auto;
        color: #7e7e7e;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        width: 120px;
        padding: 10px 25px 10px 10px;
        border-radius: 20px;
        background: #d7d7d7;
        border: none;
        box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.25);
        
        // margin-right: 150px;

        @media screen and (min-width: 768px) {
            margin-right: 0;
            margin-left: 0;
            font-size: 12px;
            width: 150px;
            padding: 10px 25px 10px 10px;
          }
        
          @media screen and (min-width: 1200px) {
            width: 150px;
            padding: 10px 45px 10px 10px;
            margin-left: 257px;
          }
        
      }

    &-btn {
        margin-right: 150px;
        // z-index: 2;
        border-radius: 0px 20px 20px 0px;
        background: #000;
        position: absolute;
        width: 35px;
        height: 33px;
        top: 85px;
        right: calc(50% - 215px);

        // top: 90px;
        // // right: calc(50% + 224px);
        // right: calc(80% - 70px);
        

        @media screen and (min-width: 768px) {
            // margin-right: 150px;
            top: 90px;
            right: calc(50% + 25px);
            width: 35px;
        height: 35px;
          }
        
          @media screen and (min-width: 1200px) {
            top: 91px;
            right: calc(50% - 12px);
          }
    }

    &-search {
        stroke: white;
    transition: fill, stroke, $st-animation;
    }

    &-wrap {
        position: absolute;
        // top: 90px;
        // right: calc(50% + 224px);
        top: 84px;
        right: calc(50% - 65px);
        // left: 245px;
        width: 35px;
        height: 35px;
        padding-top: 10px;
        padding-left: 8px;
        cursor: pointer;

        @media screen and (min-width: 768px) {
            top: 90px;
            right: calc(50% + 174px);
          }
        
          @media screen and (min-width: 1200px) {
            top: 91px;
            right: calc(50% + 138px);
          }
    }

    &-text {
        text-align: center;
        font-size: 12px;
        margin-top: 20px;
        

        @media screen and (min-width: 768px) {
            margin-top: 0;
            text-align: start;
            margin-left: 150px;
          }
        
          @media screen and (min-width: 1200px) {
            margin-left: 202px;

          }
    }

    &-text-true {
        color: #039900;
    }
    
    &-text-false {
        color: #900;
    }

    &-line {
      position: absolute;
      bottom: 0;
      left: calc(50% - 125px);
      width: 250px;
      height: 1px;
      background-color: black;
  
      @media screen and (min-width: 768px) {
        width: 536px;
      left: calc(50% - 268px);
      }
      }
    
    
}