.guess-number {
    padding: 36px 0;
    position: relative;
    z-index: 1;

    &-title {
        
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 14px;
          }
        
          @media screen and (min-width: 1200px) {
            font-size: 16px;
          }
        
    }

    &-form {
        display: flex;
        margin-top: 36px;
    }

    &-input {
        color: #7e7e7e;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        width: 90px;
        padding: 10px 25px 10px 10px;
        border-radius: 20px;
        background: #d7d7d7;
        border: none;
        box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.25);

        @media screen and (min-width: 768px) {
            font-size: 12px;
            width: 110px;
            padding: 10px 25px 10px 10px;
          }
        
          @media screen and (min-width: 1200px) {
            width: 150px;
            padding: 10px 45px 10px 10px;
          }
        
      }

    &-btn {
        margin-right: 150px;

        @media screen and (min-width: 768px) {
            margin-right: 150px;
          }
        
          @media screen and (min-width: 1200px) {
            margin-right: 550px;
          }
    }

    &-search {
        stroke: white;
    transition: fill, stroke, $st-animation;
    }

    &-wrap {
        position: absolute;
        top: 91px;
        // right: calc(50% + 224px);
        right: calc(50% + 395px);
        // left: 245px;
        width: 35px;
        height: 35px;
        border-radius: 0px 20px 20px 0px;
        background: #000;
        padding-top: 10px;
        padding-left: 8px;
        cursor: pointer;
    }

    &-text-true {
        color: #039900;
    }
    
    &-text-false {
        color: #900;
    }

    &-line {
        position: absolute;
        bottom: 0;
        left: calc(50% - 268px);
        width: 536px;
        height: 1px;
        background-color: black;
      }
    
    
}