.guess-number {
    padding: 36px 0;
    position: relative;
    z-index: 1;

    &-title {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        // padding: 36px 0;
    }

    &-form {
        display: flex;
        margin-top: 36px;
    }

    &-input {
        // position: relative;
        color: #7e7e7e;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        width: 150px;
        padding: 10px 45px 10px 10px;
        border-radius: 20px;
        background: #d7d7d7;
        border: none;
        box-shadow: 3px 4px 0px rgba(0, 0, 0, 0.25);
      }

    &-btn {
        margin-right: 550px;
    }

    &-search {
        stroke: white;
    transition: fill, stroke, $st-animation;
    }

    &-wrap {
        position: absolute;
        top: 91px;
        // right: calc(50% + 224px);
        right: calc(50% + 395px);
        // left: 245px;
        width: 35px;
        height: 35px;
        border-radius: 0px 20px 20px 0px;
        background: #000;
        padding-top: 10px;
        padding-left: 8px;
        cursor: pointer;
    }

    &-text-true {
        color: #039900;
    }
    
    &-text-false {
        color: #900;
    }
}