.header {
  z-index: 1;
  position: relative;

    &-box {
        @include flexbox($justify: start) ;
        gap: 50px;
    }

    &-list {
        @include flexbox;
        gap: 50px;
        margin-right: 270px;
    }
}