.header {
  z-index: 1;
  position: relative;
  padding: 36px 0;

    &-box {
        @include flexbox($justify: start) ;
        gap: 10px;

        @media screen and (min-width: 768px) {
            gap: 20px;
        }
      
        @media screen and (min-width: 1200px) {
            gap: 50px;
        }
    }

    &-logo {
       display: none;
        

        @media screen and (min-width: 768px) {
           display: block;
          }
        
          @media screen and (min-width: 1200px) {
            
          }
    }

    &-list {
        @include flexbox;
        gap: 10px;
        

        @media screen and (min-width: 768px) {
            margin-right: 50px;
          }
        
          @media screen and (min-width: 1200px) {
            gap: 50px;
            margin-right: 200px;
          }
    }

    &-list-item {
        font-size: 10px;
        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
      
        @media screen and (min-width: 1200px) {
           
        }
    }

    
    &-dropdown {
        position: relative;
        
    }

    &-dropdown-content {
        opacity: 0; 
        visibility: hidden; 
        transition: opacity 3s ease; 
        position: absolute;
        
        list-style: none;
        text-align: center;
        width: 160px;
        z-index: 999;
        // background-color: red;
    

    }

    &-dropdown-content.show {
        opacity: 1;
        visibility: visible;

    }    

    &-dropdown-item {
        // color: #000;
        font-size: 10px;
        font-weight: 400;
        line-height: normal;
        
        padding: 5px 49px;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        // background: #FFF;

       
        @media screen and (min-width: 768px) {
            font-size: 12px;
            padding: 10px 49px;
        }
    }

    &-dropdown-item:hover {
        background: #F1F1F1;
    }

    &-dropdown-content li:nth-child(3) {
        // border-bottom-left-radius: 50px;
        border-radius: 0px 0px 20px 20px;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;


    }

    &-wrap {
        display: flex;
    }



    &-ellipse {
        width: 40px;
        height: 20px;
        border-radius: 11px;
        background: #7a7a7a;
        // background: red;

        transition: box-shadow $st-animation;
    
        &:hover {
          box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.25);
          transition: box-shadow $st-animation;
        }
      }
    
    
      &-cirkle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        border: solid 1px black;
        cursor: pointer;
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    
      &-cirkle-right {
        
        @media screen and (min-width: 768px) {
            transform: translate(20px);
            transition: transform background-color $st-animation;
        }
      }
    
      &-hello {
        font-size: 10px;

        @media screen and (min-width: 768px) {
            font-size: 12px;
        }
      }
}