.rock-paper-scissors {
  padding: 36px 0;
  position: relative;
  z-index: 1;

  &-container {
    padding-bottom: 130px;

    @media screen and (min-width: 768px) {
      padding-bottom: 0;
    }
  }

  &-title {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
  }

  &-list {
    @include flexbox();
    gap: 38px;
    padding: 156px 0 24px;

    @media screen and (min-width: 768px) {
      padding: 36px 0;
    }
  }

  &-item {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    transition: box-shadow, color, background-color, outline, $st-animation;
    cursor: pointer;

    &:hover {
      @extend %hover;
      background-color: #aaaaaa;
    }
  }

  &-item-hover {
    @extend %hover;
    background-color: #aaaaaa;
  }

  &-image {
    width: 40px;
    height: 40px;
  }

  &-text {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &-button {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 242px;
    height: 35px;
    border-radius: 20px;
    background-color: black;
    display: block;
    margin: 24px auto 0;
    cursor: pointer;
    transition: box-shadow, color, background-color, border, $st-animation;

    @media screen and (min-width: 768px) {
      margin: 36px auto 0;
    }

    &:hover {
      @extend %hover;
    }
  }

  &-info {
    position: absolute;
    top: 390px;
    left: calc(50% - 60px);

    @media screen and (min-width: 768px) {
      top: 92px;
      left: calc(50% + 230px);
    }
  }

  &-stats {
    font-size: 12px;
    font-weight: 400;
    line-height: 170%;
  }

  &-update {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 120px;
    height: 28px;
    border-radius: 20px;
    background-color: black;
    display: block;
    cursor: pointer;
    transition: box-shadow, color, background-color, border, $st-animation;

    &:hover {
      @extend %hover;
    }
  }

  &-settings {
    position: absolute;
    top: 70px;   
     right: calc(50% - 46.5px);
    max-width: 93px;
    @include flexbox;
    flex-wrap: wrap;
    gap: 6px;

    @media screen and (min-width: 768px) {
      justify-content: start;
      top: 92px;
    right: calc(50% + 230px);
    }
  }

  &-difficulty {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    width: 242px;
    height: 25px;
    border-radius: 20px;
    background-color: black;
    display: block;
    cursor: pointer;
    transition: box-shadow, color, background-color, border, $st-animation;

    &:hover {
      @extend %hover;
    }

    &-hover {
      @extend %hover;
      background-color: #e7e7e7;
      color: black;
    }
  }

  &-line {
    position: absolute;
    bottom: 0;
    left: calc(50% - 125px);
    width: 250px;
    height: 1px;
    background-color: black;

    @media screen and (min-width: 768px) {
      width: 536px;
    left: calc(50% - 268px);
    }
  }
}
