#scientists {
  z-index: 1;
  position: relative;
  padding-top: 36px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 36px;
  }
}
.scientists {
  display: flex;
  flex-wrap: wrap;
  width: 577px;
  height: 408px;
  margin: auto;
  justify-content: center;
  align-items: center;
  & li {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #d9d9d9;
    margin-right: 59px;
    margin-bottom: 36px;
    text-align: center;
    font-size: 8px;
    line-height: 170%;
    text-align: center;
    padding-top: 32px;
    box-sizing: border-box;
    transition: 1s;
  }
  &-title {
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .scientists {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .scientists li {
    width: calc(50% - 10px);
    margin-right: 10px;
  }
  .scientists li:nth-child(2n) {
    margin-right: 0;
  }
  .sort-list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .sort-list ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .scientists {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .scientists li {
    width: calc(33.333% - 10px);
    margin-right: 10px;
  }
  .scientists li:nth-child(3n) {
    margin-right: 0;
  }
}

.sort-list {
  display: flex;

  @media screen and (min-width: 1200px) {
    margin-left: 147px;
  }
}
.sort-list ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  margin-bottom: 20px;
}

.sort-list ul:first-child {
  margin-right: 36px;
  @media screen and (min-width: 768px) {
    align-items: end;
  }
  @media screen and (min-width: 1200px) {
    align-items: end;
  }
}
.last {
  margin-right: 50px;
  margin-left: 50px;
  @media screen and (min-width: 1200px) {
    margin-left: 300px;
  }
}
.sort-list-item {
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 10px 20px;
  width: fit-content;
  font-size: 12px;
  line-height: normal;
  cursor: pointer;
}

.sort-list-item.active {
  color: rgb(21, 212, 24);
}
.scientists li:nth-child(4n) {
  margin-right: 0px;
}
.scientists-line {
  position: absolute;
  bottom: 0;
  left: calc(50% - 125px);
  width: 250px;
  height: 1px;
  display: none;
  background-color: black;

  @media screen and (min-width: 768px) {
    width: 536px;
    display: none;
    left: calc(50% - 268px);
  }
  @media screen and (min-width: 1200px) {
    width: 536px;
    display: block;
    left: calc(50% - 268px);
  }
}
