.team-img {
  border-radius: 20px;
  background: #d9d9d9;
  width: 150px;
  height: 150px;
}
.team-title {
  color: #000;
  font-family: 'Montserrat Alternates';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 474px;
  margin-bottom: 36px;
}
.team-name {
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.team-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.team-block ul {
  width: 100px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.team-block li {
  background-color: #e3e3e3;
  width: 25px;
  height: 4px;
  border-radius: 15%;
}

.team-block p {
  font-size: 12px;
}
.team-btn {
  width: 50px;
  height: 100px;
  background-image: url('../img/arrow-right.png');
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 35%;
  right: 92px;
}
.team-btn:last-child {
  background-image: url('../img/arrow-right.png');
  transform: rotate(180deg);
  left: 92px;
}

.team {
  position: relative;
  z-index: 1;
}
