html {
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  font-family: 'Montserrat Alternates';
  overflow: hidden;
}

.main {
  background: url(../../img/background.png), linear-gradient(#eeeeee, #eeeeee);
  background-size: cover;
}

.background {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  width: 300px;
  z-index: 0;
  height: 4000px;
  background-color: white;

  @media screen and (min-width: 480px) {
    left: calc(50% - 240px);
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    left: calc(50% - 384px);
    width: 768px;
    height: 3500px;
  }

  @media screen and (min-width: 1200px) {
    left: calc(50% - 555px);
    width: 1110px;
  }
}

.all-text-white {
  color: #000;
}

.all-text-black {
  color: #fff;
}

.all-link-white {
  color: #fff;
}

.all-link-black {
  color: #000;
}

.all-title-white {
  color: #000;
}

.all-title-black {
  color: #fff;
}

.all-section-white {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;

  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: none;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1110px;
  }
}

.all-section-black {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #8a8a8a;

  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: none;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1110px;
  }
}

.all-circle-bg-white {
  background-color: white;
  border: solid 2px black;
}

.all-circle-bg-black {
  background-color: black;
  border: solid 2px white;
}
