html {
  scroll-behavior: smooth;
  // overflow: hidden;
}

body {
  font-family: 'Montserrat Alternates';
  // overflow: hidden;
}

.main {
  background: url(../../img/background.png), linear-gradient(#EEEEEE, #EEEEEE);
  background-size: cover;
}

.background {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  width: 300px;
  z-index: 0;    
  height: 4000px;
  background-color: white;

  @media screen and (min-width: 768px) {
  left: calc(50% - 400px);
    width: 800px;
  }

  @media screen and (min-width: 1200px) {
  left: calc(50% - 555px);
    width: 1110px;
  }
}

.all-text-white{
  color: #000;
}

.all-text-black{
  color: #FFF;
}

.all-link-white {
  color: #FFF;
}

.all-link-black {
  color: #000;
}

.all-title-white{
  color: #000;
}

.all-title-black{
  color: #FFF;
}

.all-section-white{
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;

  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: none;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1110px;
  }
  
}

.all-section-black {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background: #8A8A8A;
  

  @media screen and (min-width: 768px) {
    width: 768px;
    max-width: none;
  }

  @media screen and (min-width: 1200px) {
    max-width: none;
    width: 1110px;
  }
}


.all-circle-bg-white {
  background-color: white;
    border: solid 2px black;
}

.all-circle-bg-black {
  background-color: black;
  border: solid 2px white;
}
