%hover {
  box-shadow: 4px 5px 0px rgba(0, 0, 0, 0.25);
  color: black;
  background-color: #e7e7e7;
  outline: solid black 1px;
  transition: box-shadow, color, outline, background-color, $st-animation;
}
