<section class="born-year">
  <div class="container">
    <div class="line"></div>
    <h3 class="born-year-title">Перевір в який рік ти народився</h3>
    <div class="born-year-div">
      <div class="born-div">
        <input
          class="born-year-input"
          type="number"
          placeholder="Введіть рік народження"
          data-inputYear
        
        />

        <button type="button" class="born-year-btn" data-btnYear>
          <svg class="born-year-svg">
            <use href="../img/symbol-defs.svg#magnifying-glass"></use>
          </svg>
        </button>
           <p class="born-year-text" data-remove>Введіть рік</p>
      </div>
    </div>
    <div class="born-year-line"></div>
  </div>
</section>
