<section class="born__year">
    <div class="container">
  <div class="line"></div>
  <h3 class="born__year-title">Перевір в який рік ти народився</h3>
  <div class="born__year-div">
    <div class="born-div">
      <input
        class="born__year-input"
        type="number"
        placeholder="Введіть рік народження"
      />

      <button type="button" class="born__year-btn">
        <svg class="born__year-svg">
          <use href="../img/symbol-defs.svg#icon-Group-104"></use>
        </svg>
      </button>
    </div>
    <p class="born__year-text">Введіть рік</p>
  </div>
</div>
</section>
