<section class="google-dino" id="google-dino">
  <div class="container">
    <h2 class="google-dino-title">Google динозавр</h2>
    <p class="google-dino-stats">Ваші бали: <span class="google-dino-points">0</span></p>
    <div class="google-dino-game">
      <div class="google-dino-backdrop">
        <p class="google-dino-text">Почніть гру!</p>
        <button type="button" class="google-dino-button">Почати</button>
      </div>
      <div class="google-dino-player">
        <img class="google-dino-image" src="../img/dino.png" alt="dino">
      </div>
      <div class="google-dino-obs">
        <img class="google-dino-image" src="../img/cactus.png" alt="dino">
      </div>
      <div class="google-dino-obs2">
        <img class="google-dino-image" src="../img/pterodactyl.png" alt="dino">
      </div>
      <div class="google-dino-reward">
        <img class="google-dino-image" src="../img/coin.png" alt="dino">
      </div>
    </div>
    <div class="google-dino-line"></div>
  </div>
</section>
