

<section class="football">
    <div class="container">
        <h2 class="football-title">Футбол</h2>
        <p class="football-text">Наберіть 40 очок за 30 секунд</p>
        <div class="football-timer">00:00</div>
        <div class="football-box">
            <div class="football-goal"></div>
            <div class="football-ball">
                <img src="./img/football.png" alt="ball">
                <!-- <img src="../img/football.png" alt="ball"> -->
            </div>
            <div class="football-score">
                <p>
                    Рахунок: <span id="score">0</span>
                </p>
            </div>
            <div class="football-end">
                <p class="football-end-text">Гру завершено ви набрали максимальну кількість балів</p>
                <button type="button" class="football-end-btn">ЗНОВУ</button>
            </div>
        </div>
        <div class="football-line"></div>
    </div>
</section>
