<footer class="footer">
  <svg class="time-calculator-magnifying-glass" width="165px" height="70px">
    <use href="../img/symbol-defs.svg#icon-Group-4"></use>
  </svg>
  <p class="footer-text">
    Тел: +38 (123) 456 78 90 E-Mail: codingmagic@gmail.com Facebook: CodingMagic
    Twitter: CodingMagic Instagram: CodingMagic
  </p>
  <form action="" class="footer-form">
    <input type="email" class="footer-input" placeholder="Ваша ел. адреса...">
    <button type="submit" class="footer-button"></button>
    <p class="footer-subtext">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
  </form>
</footer>
