<footer class="footer" id="footer">
  <div class="container footer-container">
    <a href="../index.html" class="footer-logo-link">
      <svg class="footer-logo">
        <use href="../img/symbol-defs.svg#logo"></use>
      </svg>
    </a>
    <ul class="footer-list">
      <li class="footer-item">
        <a href="tel:+381235467890" class="footer-link all-link-black"
          >Тел: +38 (123) 456 78 90</a
        >
      </li>
      <li class="footer-item">
        <a
          href="mailto:codingmagic@gmail.com"
          class="footer-link all-link-black"
          >E-Mail: codingmagic@gmail.com</a
        >
      </li>
      <li class="footer-item">
        <a
          href="https://www.facebook.com/?locale=uk_UA"
          class="footer-link all-link-black"
          target="_blank"
          >Facebook: CodingMagic</a
        >
      </li>
      <li class="footer-item">
        <a
          href="https://x.com/"
          class="footer-link all-link-black"
          target="_blank"
          >Twitter: CodingMagic</a
        >
      </li>
      <li class="footer-item">
        <a
          href="https://www.instagram.com/"
          class="footer-link all-link-black"
          target="_blank"
          >Instagram: CodingMagic</a
        >
      </li>
    </ul>
    <form action="" class="footer-form">
      <input
        type="email"
        class="footer-input"
        placeholder="Ваша ел. адреса..."
        required
      />
      <button type="submit" class="footer-button">Підписатись</button>
      <p class="footer-subtext">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </p>
    </form>
  </div>
</footer>
