<section class="guess-number">
    <h2 class="guess-title">Вгадай число, яке загадав комп’ютер</h2>
    <div>
        <div>
            <form action="" class="guess-form">
                <input type="text" placeholder="Введіть число" class="guess-input">
                <button type="submit" class="guess-btn">
                    <svg class="guess-icon">
                        <use href=""></use>
                    </svg>
                </button>
            </form>
        </div>
        <p class="guess-text"></p>
    </div>
</section>