<section class="guess-number">
    <div class="container">
        <h2 class="guess-number-title">Вгадай число, яке загадав комп’ютер</h2>
        <div>
            <div>
                <form action="" class="guess-number-form">
                    <input type="text" placeholder="Введіть число" class="guess-number-input">
                    <button type="submit" class="guess-number-btn"></button>
                        <span class="guess-number-wrap">
                              <svg class="guess-number-search" width="15px" height="15px">
                                <use href="../img/symbol-defs.svg#magnifying-glass"></use>
                              </svg>
                        </span>
                    </button>
                    <p class="guess-number-text">Ви програли, комп’ютер загадав (number)</p>
                </form>
            </div>
        </div>
        <div class="guess-number-line"></div>
    </div>
</section>
