<section class="guess-number">
    <div class="container">
        <h2 class="guess-number-title">Вгадай число, яке загадав комп’ютер</h2>
        <div>
            <div>
                <form action="" class="guess-number-form">
                    <input type="text" placeholder="Введіть число" class="guess-number-input">
                    <button type="submit" class="guess-number-btn">
                        <svg class="guess-number-icon">
                            <use href=""></use>
                        </svg>
                    </button>
                </form>
            </div>
            <p class="guess-number-text"></p>
        </div>
    </div>
</section>