<header class="header">
    <div class="container header-box">
        <svg class="header-logo" width="93px" >
            <use href="../img/symbol-defs.svg#icon-Group-4"></use>
          </svg>
       <ul class="header-list">
            <li class="header-list-item">
                <div class="header-dropdown">
                <p class="header-dropdown-btn">Інтерактив</p>
                    <ul class="header-dropdown-content">
                        <li class="header-dropdown-item">Числовий</li>
                        <li class="header-dropdown-item">Ігровий</li>
                        <li class="header-dropdown-item">Ознайомчий</li>
                    </ul>
                </div>
            </li>
            <li  class="header-list-item">Наша команда</li>
            <li  class="header-list-item">Контакти</li>
       </ul>
       <input type="checkbox" name="" id="" class="header-input">
       <p class="header-hello">Вітаємо, User!</p>
    </div>
</header>