<!-- <div class="header-modal">
    <button class="header-modal-btn-close">
        <svg class="header-modal-icon">
            <use href=""></use>
        </svg>
    </button>
    <p class="header-modal-paragraf">
        Привіт!
        Ви потрапили на сайт інтерактивних ігор та завдань
        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
        Бажаємо Вам гарно провести час!
    </p>
    <p class="header-modal-text">Введіть своє ім’я:</p>
    <input type="text" placeholder="Ваше ім’я..." class="header-modal-input">
    <button type="button">Зберегти</button>

    
    <svg class="header-modal-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-icon">
        <use href=""></use>
    </svg>
</div>



<div class="header-modal-sub">
    <button class="header-modal-btn-close">
        <svg class="header-modal-icon">
            <use href=""></use>
        </svg>
    </button>
    <p class="header-modal-sub-paragraf">Дякую за підписку!</p>

    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
</div> -->