<header class="header">
    <div class="container header-box">
        <svg class="header-logo" width="93px" height="40px">
            <use href="../img/symbol-defs.svg#logo"></use>
          </svg>
       <ul class="header-list">
            <li class="header-list-item">
                <div class="header-dropdown">
                    <div class="header-wrap">
                        <p class="header-dropdown-item-one">Інтерактив</p>
                        <button class="header-dropdown-btn">
                            <svg class="header-logo2" width="5px" height="9px">
                                <use href="../img/symbol-defs.svg#arrow-down"></use>
                              </svg>
                        </button>
                    </div>
                    <ul class="header-dropdown-content">
                        <li class="header-dropdown-item header-numerical">
                            <button class="header-dropdown-text">Числовий</button>
                        </li>
                        <li class="header-dropdown-item header-playable">
                            <button class="header-dropdown-text">Ігровий</button>
                        </li>
                        <li class="header-dropdown-item header-introductory">
                            <button class="header-dropdown-text">Ознайомчий</button>
                        </li>
                        <li class="header-dropdown-item header-no-filters">
                            <button class="header-dropdown-text">Без фільтрів</button>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="header-list-item">
                <a href="#team" class="header-link all-link-black">Наша команда</a>
            </li>
            <li class="header-list-item">
                <a href="#footer" class="header-link all-link-black">Контакти</a>
            </li>
       </ul>
        <div class="header-ellipse">
            <div class="header-cirkle">
                <img src="../img/sun.svg" alt="" class="header-cirkle-img">
            </div>
        </div>
       <p class="header-hello">Вітаємо, User!</p>
    </div>
</header>