<div class="header-modal">
    <button class="header-modal-btn-close">
        <svg class="header-modal-icon-cross" width="15px" height="15px">
            <use href=""></use>
        </svg>
    </button>
    <p class="header-modal-paragraf">
        Привіт!Ви потрапили на сайт інтерактивних ігор та завдань
        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
        Бажаємо Вам гарно провести час!
    </p>
    <p class="header-modal-text">Введіть своє ім’я:</p>
    <div class="header-modal-wrap">
        <input type="text" placeholder="Ваше ім’я..." class="header-modal-input">
        <button type="button" class="header-modal-btn-save">Зберегти</button>    
    </div>
    
     <img src="../img/sword.svg" alt="" class="header-modal-icon-sword" > 
     <img src="../img/puzzle.svg" alt="" class="header-modal-icon-puzzle" width="30px" height="30px">
    <svg class="header-modal-icon-game" width="30px" height="30px">
        <use href="../img/symbol-defs.svg#game"></use>
    </svg>
    <svg class="header-modal-icon-tic" width="30px" height="30px">
        <use href="../img/symbol-defs.svg#tic-tac-toe"></use>
    </svg>
</div>



<div class="header-modal-sub">
    <button class="header-modal-sub-btn-close">
        <svg class="header-modal-icon"  width="15px" height="15px">
            <use href=""></use>
        </svg>
    </button>
    <p class="header-modal-sub-paragraf">Дякую за підписку!</p>

    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
    <svg class="header-modal-sub-icon">
        <use href=""></use>
    </svg>
</div>

<svg class="time-calculator-magnifying-glass" width="15px" height="15px">
    <use href="../img/symbol-defs.svg#magnifying-glass"></use>
  </svg>