<header>
   <img src="" alt="" class="header-img">
   <p class="header-title">Coding</p>
   <p class="header-sub-title">Magic</p>
   <ul class="header-list">
        <li class="header-list-item">
            <div class="dropdown">
            <p class="header-dropdown-btn">Інтерактив</p>
                <ul class="header-dropdown-content">
                    <li class="header-dropdown-item">Числовий</li>
                    <li class="header-dropdown-item">Ігровий</li>
                    <li class="header-dropdown-item">Ознайомчий</li>
                </ul>
            </div>
        </li>
        <li  class="header-list-item">Наша команда</li>
        <li  class="header-list-item">Контакти</li>
   </ul>
   <input type="checkbox" name="" id="" class="header-input">
   <p class="header-hello">Вітаємо, User!</p>
</header>