<section class="rock-paper-scissors">
  <div class="container rock-paper-scissors-container">
    <h2 class="rock-paper-scissors-title">Камінь - ножиці - папір</h2>
    <ul class="rock-paper-scissors-list">
      <li class="rock-paper-scissors-item">
        <img
          class="rock-paper-scissors-image"
          src="../img/rock.svg"
          alt="rock"
        />
      </li>
      <li class="rock-paper-scissors-item">
        <img
          class="rock-paper-scissors-image"
          src="../img/scissors.svg"
          alt="scissors"
        />
      </li>
      <li class="rock-paper-scissors-item">
        <img
          class="rock-paper-scissors-image"
          src="../img/paper.svg"
          alt="paper"
        />
      </li>
    </ul>
    <p class="rock-paper-scissors-text">Почніть гру</p>
    <button class="rock-paper-scissors-button" type="button">
      Дізнатись вибір комп’ютера
    </button>
    <div class="rock-paper-scissors-info">
      <p class="rock-paper-scissors-stats">Рахунок:</p>
      <p class="rock-paper-scissors-stats">
        Комп’ютер - <span class="rock-paper-scissors-pc">0</span>
      </p>
      <p class="rock-paper-scissors-stats">
        Ви - <span class="rock-paper-scissors-user">0</span>
      </p>
      <p class="rock-paper-scissors-stats">
        Нічиї - <span class="rock-paper-scissors-tie">0</span>
      </p>
      <button type="button" class="rock-paper-scissors-update">Заново</button>
    </div>
    <div class="rock-paper-scissors-settings">
      <p class="rock-paper-scissors-stats">Складність:</p>
      <button class="rock-paper-scissors-difficulty">Легка</button>
      <button
        class="rock-paper-scissors-difficulty rock-paper-scissors-difficulty-hover"
      >
        Нормальна
      </button>
      <button class="rock-paper-scissors-difficulty">Неможлива</button>
    </div>
    <div class="rock-paper-scissors-line"></div>
  </div>
</section>
