<section class="rock-paper-scissors">
  <h2 class="rock-paper-scissors-title">Камінь - ножиці - папір</h2>
  <ul class="rock-paper-scissors-list">
    <li class="rock-paper-scissors-item"></li>
    <li class="rock-paper-scissors-item"></li>
    <li class="rock-paper-scissors-item"></li>
  </ul>
  <p class="rock-paper-scissors-text">Почніть гру</p>
  <button class="rock-paper-scissors-button">Варіант комп’ютера</button>
  <div class="rock-paper-scissors-info">
    <p class="rock-paper-scissors-stats">Рахунок:</p>
    <p class="rock-paper-scissors-stats">
      Комп’ютер - <span class="rock-paper-scissors-pc"></span>
    </p>
    <p class="rock-paper-scissors-stats">
      Ви - <span class="rock-paper-scissors-user"></span>
    </p>
  </div>
</section>
