<section id="scientists">
  <div class="container">
    <div class="line"></div>
    <h3 class="scientists-title">Обери вченого/их</h3>
    <ul class="scientists">
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
      <li class="scientist"></li>
    </ul>
    <div class="sort-list">
      <ul>
        <li>
          <button class="sort-list-item">Які вчені народилися в 19 ст.</button>
        </li>
        <li>
          <button class="sort-list-item">
            Відсортувати вчених за алфавітом
          </button>
        </li>
        <li>
          <button class="sort-list-item">
            Відсортувати вчених за кількістю прожитих років
          </button>
        </li>
        <li>
          <button class="sort-list-item">
            Знайти вченого, який народився найпізніше
          </button>
        </li>
      </ul>
      <ul>
        <li>
          <button class="sort-list-item">
            Знайти рік народження Альберт Ейнштейн
          </button>
        </li>
        <li>
          <button class="sort-list-item">
            Знайти вчених, прізвища яких починаються на на літеру “С”
          </button>
        </li>
        <li>
          <button class="sort-list-item">
            Видалити всіх вчених, ім’я яких починається на “А”
          </button>
        </li>
        <li>
          <button class="sort-list-item">
            Знайти вченого, який прожив найдовше і вченого,<br />
            який прожив найменше
          </button>
        </li>
      </ul>
    </div>
    <p>
      <button class="sort-list-item last">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </p>
    <div class="scientists-line"></div>
  </div>
</section>
