<section class="space">
  <div class="container">
    
    <h2 class="space-title">Космічні загарбники</h2>
    <p class="space-intro">Управління</p>
    <ul class="space-list">
      <li class="space-item"><p>A - вліво</p></li>
      <li class="space-item"><p>D - вправо</p></li>
      <li class="space-item"><p>W - стріляти</p></li>
    </ul>
    <p class="space-warn">!АНГЛІЙСЬКА МОВА!</p>
    <p class="space-score"><span>Рахунок:</span><span id="scoreEl">0</span></p>
    <div class="space-btn-container">
      <button class="space-btn" id="startButton">Старт!</button>
    </div>
     <div class="game-over">
    <p>Ти програв!</p>
    <button class="try-again">Спробувати знову</button>
  </div>

    <div id="gameIconContainer" class="game-icon-container">
      <img
        src="../space-assets/start-icon.png"
        alt="Game Icon"
        class="game-icon"
      />
      <p class="game-title">★Space Invaders★</p>
    </div>

    <canvas width="1085px" height="600px" style="display: none"></canvas>
    <div class="space-box"></div>
  </div>
</section>
