<!-- <section class="team">
  <div class="container">
    <div class="team-line"></div>
    <div class="line"></div>
    <h3 class="team-title">Наша команда</h3>
    <div class="team-block">
      <img src="" alt="img" class="team-img" />
      <h4 class="team-name" data-name>Ім'я студента</h4>
      <p style="text-align: center" data-description>Інформація про роботу яку він виконав</p>
      <ul>
        <li
          class="part"
          style="width: 25px; background-color: rgb(134, 134, 134)"
        ></li>
        <li class="part"></li>
        <li class="part"></li>
      </ul>
      <button class="team-btn" data-right></button>
      <button class="team-btn" data-left></button>
    </div>
    <div class="team-line"></div>
  </div>
</section> -->
