<section class="time-calculator">
  <div class="container">
    <h2 class="time-calculator-title">Калькулятор часу</h2>
    <p class="time-calculator-subtitle">Виберіть вхідні дані:</p>
    <div class="time-calculator-switch">
      <p class="time-calculator-text">Секунди</p>
      <div class="time-calculator-ellipse">
        <div class="time-calculator-cirkle"></div>
      </div>
      <p class="time-calculator-text">Хвилини</p>
    </div>
    <div class="time-calculator-game">
      <input type="number" placeholder="Кількість секунд" class="time-calculator-input"/>
      <button class="time-calculator-wrap" type="button">
        <svg class="time-calculator-magnifying-glass" width="15px" height="15px">
          <use href="../img/symbol-defs.svg#magnifying-glass"></use>
        </svg>
      </button>
      <div class="time-calculator-dotts"></div>
      <p class="time-calculator-result">0 дн. 0год. 0хв. 0сек.</p>
    </div>
    <div class="time-calculator-line"></div>
  </div>
</section>