<section class="time-calculator">
  <div class="container">
    <h2 class="time-calculator-title">Калькулятор часу</h2>
    <div class="time-calculator-game">
      <input type="number" placeholder="Введіть число" class="time-calculator-input"/>
      <span class="time-calculator-wrap">
        <svg class="time-calculator-magnifying-glass" width="15px" height="15px">
          <use href="../img/symbol-defs.svg#magnifying-glass"></use>
        </svg>
      </span>
      <div class="time-calculator-dotts"></div>
      <p class="time-calculator-result">3 дн. 15:45:01</p>
    </div>
    <div class="time-calculator-line"></div>
  </div>
</section>